*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HELPER */
.flex {
    display: flex;
}
.justifyCenter {
    justify-content: center;
}
.column {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.boxedPhone {
    max-width: 85%;
    margin: 0 auto;
}

.bgBlue {background-color: #0084fd;}
.bgLightblue {background-color: #b5ddff;}
.bgViolet {background-color: #9792e4;}
.colWhite {color: white;}
.colBlack {color: black;}

/* mobile first */

.contNav {
    min-height: 4em;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

/* Main */

.contBoxTop, .contBox{
    align-items: center;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 1rem;
}

.contBoxTop img {
    width: 70%;
    display: block;
}



